<mat-toolbar class="seccondary-nav-toolbar">
 <span></span>
 <span class="spacer"></span>
 <a mat-button href="https://github.com/sunnythedev" target="_blank"><i  class="bi-github" role="img" aria-label="GitHub"></i></a>
 <a mat-button href="https://www.linkedin.com/in/sunnythedev/" target="_blank"><i class="bi-linkedin" role="img" aria-label="linked in"></i></a>
 <a mat-button href="mailto:sunny@complianceisfruitful.com" target="_blank"><i class="bi-envelope" role="img" aria-label="email"></i></a>
 <button mat-button color="primary" routerLink="[legal]">Legal</button>
</mat-toolbar>
