<div fxlayout="column" fxFlex="70" class="left-column">
  <h1 class="color-secondary">About Me</h1>
  <p>Web accessibility is a huge passion of mine. With Full Stack experience
    building enterprise and marketing sites for 10+ years. I wrote the WCAG
    Compliance guide for Newland. As well I implemented and tested that guide
    to our entire web platform. I am passionate about technology; I catch on
    quickly to new concepts and can easily learn new functionality and processes.
    I want to learn, not just how to do a thing, but how each piece work and how
    they work together. I am polite, energetic, adventurous, and a
    team-focused self-starter; that is what I will bring to your business.
    I may sometimes forget the name of a thing, but I will be able to tell you
    how it all works and, most importantly, why. Lastly as I always say, when
    it comes to web accessibility, Resistance is Futile, and Compliance is Fruitful.</p>

  <mat-divider class="primary"></mat-divider>

  <h2 class="color-secondary">Skills</h2>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="">
          Languages
        </mat-panel-title>
        <mat-panel-description class="align-right">
          Programming & Scripting I am Profficient in
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>TypeScript, C# .NET, JavaScript, CSS3, HTML5, SQL, XSLT, Python, ASP, VB6, Razor Scripting, LINQ</p>
    </mat-expansion-panel>
    <mat-divider insert="true"></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Systems & Software
        </mat-panel-title>
        <mat-panel-description class="align-right">
          Software I have used in my career
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>JIRA, Umbraco, Ingenieux, Kentico, Bitbucket, Jenkins, Pivotal CRM, IIS, SQL Server, Marketo, Windows Server basics, JWAS, ChromeVox, NVDA, Microsoft Narrator</p>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Frameworks & APIs
        </mat-panel-title>
        <mat-panel-description class="align-right">
          Custom APIs - Popular Frameworks
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>MVC, AngularJS, Angular, RESTful APIs, jQuery, jQuery Mobile, Google • Facebook • Marketo APIs, as well as making custom APIs for integration between systems</p>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accessibility & Web Standards
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>WCAG 2.1, WAI-AIRA, HTML5, CSS3, WHATWG, XAG, OWL, Symantec Web (WEB 3.0), RDF</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider class="primary"></mat-divider>

  <h2 class="color-secondary">Experience</h2>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2018 — 2019 • CMS Administrator
        </mat-panel-title>
        <mat-panel-description class="align-right">
          Benton Dickinson • Remote
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Migrating website from Kentico to Ingenieux</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Created documentation for their Ingenieux CMS system outlining all their page types and components</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Created migration reports based off SQL data and Oracle data</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Maintaining CMS data and a database driven legacy eCatalog of over 1,200 medical products for over 18 countries</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Created SQL migration scripts to help update and import new products into the eCatalog</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2008-2018 • Newland Real Estate Group, LLC
        </mat-panel-title>
        <mat-panel-description class="align-right">
          San Diego, CA — Remote
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sr. Applications Developer 2 years
              </mat-panel-title>
              <mat-panel-description class="align-right">
                Remote
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem">Manage 35+ websites for all master planned communities</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Created & Implemented an ADA WCAG compliance standards document for Newland</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Created stored procedures to clean up lost or invalid entries in the database</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Setup reporting services reports based on SQL data to display information for internal IT reports</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Setup continuous deployment and manual deployment via Jenkins</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Always the Go-To person for anyone in IT or Marketing</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Developed new in-house tool to push content from staging/review to production environments using Angular, C# and JavaScript</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Migrated sites from AngularJS to Angular</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Created new standards for code documentation</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Maintained of web environment of Windows Server IIS, MS SQL, MCV, Umbraco, Razor, Angular, LINQ, and XSLT, jQuery, Bootstrap</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Developed and maintain integration between CRM, inventory management and content management systems using C#, REST, and jQuery</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">In charge of evaluating, development, and web technologies for marketing</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Work in a virtual and non-virtual team across the US</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Aided and training to Jr. developers and other team members</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Wrote several technical business processes for app deployment, content management and JIRA workflows</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Setup JIRA environment</mat-list-item>
<mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Full Stack Contractor 4 years
              </mat-panel-title>
              <mat-panel-description class="align-right">
                Remote (contract 240 hrs. month)
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem">Due to my work ethics and integrity was the only member of the IT staff to be asked to stay on and work remotely when needing to move due to a family emergency</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Trained and supported new development staff</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Provided technical guides for the Newland design and style guides to provide better transition between Photoshop designs and site build out by the IT team</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Involved in the interviewing process for new developers</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Worked with outside vendors to transition from self-hosted web/SQL servers to an AWS environment</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Created web templates and modules using Razor Scripts</mat-list-item>
<mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Full Stack Developer 4 years
              </mat-panel-title>
              <mat-panel-description class="align-right">
                San Diego, CA
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem">Moved company from an in-house web app to a standardized C# .NET CMS for all sites and landing pages which increased site updates from 2 weeks to a matter of minutes</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Manage 20+ websites for all master planned communities</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Worked with the marketing department to determine new functionality needed for their CMS tool</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Trained marketing employees on new functionality and tools</mat-list-item>
<mat-divider></mat-divider>
              <mat-list-item role="listitem">Researched new web-based applications for ease of use, development connectivity and feature sets</mat-list-item>
<mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2006 — 2008 • Secure Call center lead / Tier 3 support
        </mat-panel-title>
        <mat-panel-description class="align-right">
          EDS • NMCI Project
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Monitored high call volume and coordinated with the NOC (Network Operations Center) to track down outages before they are flagged by monitoring software</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Developed an app to help monitor call volume and network status on one screen opposed to three</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Sole lead to support all bases in the Japan area</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Provided Tier 3 support for all call center agents</mat-list-item>
<mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2003 — 2006 • Deployment Technician
        </mat-panel-title>
        <mat-panel-description class="align-right">
          EDS • NMCI Project
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Setup classified and non-classified computers for the US Navy and Marine Corp</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Installed and QA'd all software on computers</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Developed an automated script to install and preload software increasing efficiency and man hours worked</mat-list-item>
<mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2000 — 2003 • Cryptologic Technician, Collections
        </mat-panel-title>
        <mat-panel-description class="align-right">
          US Navy
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Held Top Secret SCI Clearance</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Work with my team to collect information on targets of interest</mat-list-item>
<mat-divider></mat-divider>
        <mat-list-item role="listitem">Deciphered technical information important to our battle group</mat-list-item>
<mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<div fxFlex="30" class="right-column">
  <h2 class="color-secondary">Time Away</h2>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="avatar-image-baby"></div>
      <mat-card-subtitle>2020 — Present • Had a Baby Boy!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p>
        Mid 2020 my partner and I got pregnant. Something we didn't think
        was going to be a possibility. The pregnancy wasn't an easy and my
        partner was bed-ridden for months. My partner got a contract first
        she had started right after the baby was born.  I stayed out of the
        work force while so many people were having a hard time finding work,
        and I had a baby to take care of. Her contract is ending soon, and
        she would love to have a year with him before he starts preschool.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-divider class="primary"></mat-divider>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>2019 — 2020 • Family Needs</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        My parents fell on some hard times, so I took time away from work to
        take care of them and their property. This did take a good share of my
        time every day, despite that I kept up on my skills building personal
        projects in my free time. Small projects to keep up with the latest trends.
        I enjoy reading about new technology and learning everything about it.
      </p>
    </mat-card-content>
  </mat-card>
</div>
