/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-footer { width: 100%; }
.left-column { margin: 1rem; }
.right-column { margin: 1rem; }

/*Component Classes*/
mat-divider.primary { background-color: #c2185b; margin: 15px; }
mat-divider.secondary { background-color: #26A69A; margin: 15px; }
mat-divider.accent { background-color: #607d8b; margin: 15px; }
mat-divider.warn { background-color: #f44336; margin: 15px; }
.color-primary { color: #c2185b; }
.color-secondary { color: #26A69A; }
.color-accent { color: #607d8b; }
.color-warn { color: #f44336; }


.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true])
{
  background: rgba(194,24,91,.2);
}

